<div class="container">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-floating mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'name@example.com', class: 'form-control' %>
      <%= f.label :email %>
    </div>

    <div class="form-floating mb-3">
      <%= f.text_field :nickname, placeholder: 'nickname', class: 'form-control' %>
      <%= f.label :nickname %>
    </div>

    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <div class="form-floating mb-3">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'password', class: 'form-control'  %>
      <%= f.label :password %>
    </div>

    <div class="form-floating mb-3">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'password', class: 'form-control'  %>
      <%= f.label :password_confirmation %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
</div>
