<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%= paginator.render do -%>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item">
        <%= first_page_tag unless current_page.first? %>
        <%= prev_page_tag unless current_page.first? %>
      </li>
      <% each_page do |page| -%>
        <li class="page-item">
          <% if page.display_tag? -%>
            <%= page_tag page %>
          <% elsif !page.was_truncated? -%>
            <%= gap_tag %>
          <% end -%>
        </li>
      <% end -%>
      <li class="page-item">
        <% unless current_page.out_of_range? %>
          <%= next_page_tag unless current_page.last? %>
          <%= last_page_tag unless current_page.last? %>
        <% end %>
      </li>
    </ul>
  </nav>
<% end -%>
