<div class="container">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-floating mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'name@example.com', class: 'form-control' %>
      <%= f.label :email %>
    </div>

    <div class="form-floating mb-3">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'password', class: 'form-control' %>
      <%= f.label :password %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>