<%= render partial: 'layouts/send_message' if current_user %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <% @posts.each do |post| %>
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-5 col-sm-4">
              <% if post.image.present? %>
                <%= image_tag post.image, class: 'img-fluid w-100 custom_img' %>
              <% end %>
            </div>
            <div class="col-7 col-sm-8">
              <div class="card-body">
                <h5 class="card-title"><%= post.name %></h5>
                <p class="card-text"><%= post.body %></p>
                <div class="bottom-card-element">
                  <%= link_to 'View', post_path(post), class: 'btn btn-dark' %>
                  <p class="card-text"><small class="text-muted"><%= post.updated_at %> by <%= post.user.nickname %></small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    </div>
  </div>

  <%= paginate @posts %>
</div>
