<div class="container mb-3">
  <div class="card">

    <% if @post.image.present? %>
      <%= image_tag @post.image, class: 'card-img-top' %>
    <% end %>
    <div class="card-body mb-4">
      <h5 class="card-title"><%= @post.name %></h5>
      <p class="card-text"><%= @post.body %></p>
      <p class="card-text"><small class="text-muted"><%= @post.updated_at %> by <%= @post.user.nickname %></small></p>
    </div>

    <% if current_user == @post.user %>
      <div class="bottom-card-element">
        <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-success' %>
        <%= link_to 'Delete', post_path(@post), data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>

<% if current_user %>
  <div class="container mb-3 card border-dark padding_form">
    <%= form_with(url: comments_path, model: @comment, local: true, remote: false) do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :post_id, value: @post.id %>

      <div class="form-floating mb-3">
        <%= form.text_area :body, class: 'form-control', placeholder: 'Body', style: 'height: 100px' %>
        <%= form.label :body %>
      </div>

      <%= form.submit 'Send' %>
    <% end %>
  </div>
<% end %>

<div class="container mb-3">
  <% @post.comments.each do |comment| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= comment.user.nickname %></h5>
        <p class="card-text"><%= comment.body %></p>
        <% if comment.user == current_user %>
          <%= link_to 'Delete the comment', comment_path(comment), data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' }, class: 'btn btn-danger' %>
        <% end %>
      </div>
      <div class="card-footer text-muted">
        <%= comment.updated_at %>
      </div>
    </div>
  <% end %>
</div>
