@import "bootstrap";

.custom_img {
  position: relative; top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:300px;
  height:300px;
  object-fit:cover;
}

.bottom-card-element {
  position: absolute;
  bottom: 0;
}

.padding_form {
  padding: 10px;
}
