<div class="bg-dark mb-3">
  <div class="container">
    <nav class="navbar navbar-expand-xl navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%= root_path %>">SA: test project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark" aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse show" id="navbarDark">
          <ul class="navbar-nav me-auto mb-2 mb-xl-0">
            <li class="nav-item">
              <a class="nav-link <%= current_user ? 'active' : 'disabled' %>" aria-current="page" href="<%= root_path %>">All posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= current_user ? 'active' : 'disabled' %>" aria-current="page" href="<%= root_path(my_posts: true) %>">My posts</a>
            </li>
            <% if current_user %>
              <li class="nav-item">
                <%= link_to 'Exit', destroy_user_session_path, data: { "turbo-method": :delete }, class: 'nav-link active' %>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link active" href="<%= new_user_session_path %>">
                  Sign in
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="<%= new_user_registration_path %>">
                  Sign up
                </a>
              </li>
            <% end %>
          </ul>

          <!--        <form class="d-flex">-->
          <!--          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
          <!--          <button class="btn btn-outline-light" type="submit">Search</button>-->
          <!--        </form>-->
        </div>
      </div>
    </nav>
  </div>
</div>


