<div class="container mb-3 card border-dark padding_form">
  <%= form_with(url: posts_path, model: @post, local: true, remote: false) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="form-floating mb-3">
      <%= form.text_field :name, class: 'form-control', placeholder: 'Title' %>
      <%= form.label :name %>
    </div>
    <div class="form-floating mb-3">
      <%= form.text_area :body, class: 'form-control', placeholder: 'Comment', style: 'height: 100px' %>
      <%= form.label :body %>
    </div>
    <div>
      <%= form.file_field :image, class: 'mb-3' %>
    </div>

    <%= form.submit 'Create post' %>

  <% end %>
</div>
